.nav-link {
  color: white;
}

h1 {
  color: white;
}

.card {
  border-style: 5px solid white;
}

.home-image {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 0 !important;
}

#match-card:hover {
  cursor: pointer;
}